
<h1>Danh sách User</h1>
<div id="users">
<% for user in @users %>
	<% if current_user.friends.count != 0 %>
		<% for fr in current_user.friends %>
		<div class= "user">
			<% if user.id != fr.id %>
				<% if session[:user_id]!= user.id %>
					<%=h user.username %>
					<%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post %>
				<% end %>
			<% end %>
		
		<div class="clear"></div>
		</div>
		<% end %>
	<% end %>
	<% if current_user.friends.count == 0 %>
		<div class= "user">
		<% if session[:user_id]!= user.id %>
			<%=h user.username %>
			<%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post %>
		<% end %>
		<div class="clear"></div>	
	<% end %>
<% end %>
</div>